### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Create a free PostgreSQL database: https://vercel.com/postgres
# If you're deploying this template with a Vercel Deploy Button, these will be configured automatically for you.
POSTGRES_PRISMA_URL="postgresql://postgres:1234@localhost:5432/BDE"dzad
POSTGRES_URL_NON_POOLING="postgresql://postgres:1234@localhost:5432/BDE"

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=274777162434-e07d66etllvpare607bhj5gn6kf4jg47.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=5c0696b225866dfcd66940487c2312ae

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000